# Babel
.babel.json

# Bash
.bash_history
.bash_sessions/

# MacOS
.CFUserTextEncoding
.DS_Store
.Trash

# Dropbox
.dropbox
Dropbox

# GPG Suite
.gnupg

# Gradle
.gradle

# Httpie
.httpie

# Hub
.config/hub

# Less
.lesshst

# Ruby
.bundle
.gem

# Java
.oracle_jre_usage/

# ssh
.ssh

# Vim
.viminfo
*.swp

# wget
.wget-hsts

# ---
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Work
