# Bash
.bash_history
.bash_sessions/

# MacOS
.CFUserTextEncoding
.DS_Store
.Trash

# Dropbox
.dropbox
Dropbox

# GPG Suite
.gnupg

# Httpie
.httpie

# Hub
.config/hub

# Less
.lesshst

# Java
.oracle_jre_usage/

# ssh
.ssh

# Vim
.vim
.viminfo
*.swp

# ---
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
