[user]
	name = Chris Beams
	email = chris@beams.io
[commit]
	gpgsign = true
[alias]
	st = status -sb
	co = checkout
	ci = commit
	lo = log --oneline
	find = !git ls-files | egrep
[diff]
	noprefix = true
	renames = true
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = 1
[github]
	user = cbeams
[ghi]
	token = !security find-internet-password -a cbeams -s github.com -l 'ghi token' -w
