# Bash
.bash_history
.bash_sessions/

# MacOS
.CFUserTextEncoding
.DS_Store
.Trash

# Dropbox
.dropbox
Dropbox

# GPG Suite
.gnupg

# Java
.oracle_jre_usage/

# Vim
.viminfo
*.swp

# ---
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
